<h3>{{title}}</h3>

<div style="float: left; width:50%;">
  <form #templateForm="ngForm" (ngSubmit)="onSubmit(templateForm)">

    <p>
      <label for="firstname">First Name </label>
      <input type="text" id="firstname" name="firstname" ngModel required >
    </p>
    <p>
      <label for="lastname">Last Name </label>
      <input type="text" id="lastname" name="lastname" ngModel>
    </p>

    <p>
      <label for="email">Email </label>
      <input type="text" id="email" name="email" ngModel>
    </p>


    

    <p>
      <button type="submit">Submit</button>
    </p>
    <div>
      <button (click)="setEmail()">set Email</button>
      <button (click)="clearValidation()">clearValidation</button>
      <button (click)="setValidator()">setValidator</button>
    </div>

  </form>
</div>

<div style="float: right; width:50%;">
  <h3>Form Status</h3>
  <b>status : </b>{{templateForm.control.get("firstname").status}}
  <b>valid : </b>{{templateForm.control.get("firstname").valid}}
  <b>invalid : </b>{{templateForm.control.get("firstname").invalid}}
  <b>touched : </b>{{templateForm.control.get("firstname").touched}}
  <b>untouched : </b>{{templateForm.control.get("firstname").untouched}}
  <b>pristine : </b>{{templateForm.control.get("firstname").pristine}}
  <b>dirty : </b>{{templateForm.control.get("firstname").dirty}}
  <b>disabled : </b>{{templateForm.control.get("firstname").disabled}}
  <b>enabled : </b>{{templateForm.control.get("firstname").enabled}}


  <h3>Form Value</h3>
  {{templateForm.value | json }}

</div>