<div class="container">

    <h1 class="heading"><strong>Contact </strong> Form</h1>

    <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)" novalidate>
        
        <div class="form-group">
            <label for="firstname">First Name</label> 
            <input type="text"  class="form-control" name="firstname" ngModel required minlength="10">

            <div *ngIf="formErrors.firstname" class="alert alert-danger">
                {{ formErrors.firstname }}
            </div>

        </div>

        <div class="form-group">
            <label for="lastname">Last Name</label> 
            <input type="text" class="form-control" name="lastname" ngModel required>

            <div *ngIf="formErrors.lastname" class="alert alert-danger">
                {{ formErrors.lastname }}
            </div>

        </div>

        <div ngModelGroup="address">


            <div class="form-group">
                <label for="city">City</label>
                <input type="text" class="form-control"  name="city" [(ngModel)]="contact.address.city" >
                <div *ngIf="formErrors.city" class="alert alert-danger">
                    {{ formErrors.city }}
                </div>

            </div>

            <div class="form-group">

                <label for="street">Street</label>
                <input type="text" class="form-control" name="street" ngModel >

                <div *ngIf="formErrors.street" class="alert alert-danger">
                    {{ formErrors.street }}
                </div>

            </div>

            <div class="form-group">
                <label for="pincode">Pin Code</label>
                <input type="text" class="form-control" name="pincode" ngModel>

                <div *ngIf="formErrors.pincode" class="alert alert-danger">
                    {{ formErrors.pincode }}
                </div>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" [disabled]="!myForm.valid">Submit</button>
        </div>


    </form>

</div>











