<div class="container">

    <h1 class="heading"><strong>Contact </strong> Form</h1>

    <form>

        <div class="form-group">
            <label for="firstname">First Name</label> 
            <input type="text"  class="form-control"  name="firstname">
        </div>

        <div class="form-group">
            <label for="lastname">Last Name</label> 
            <input type="text" class="form-control"  name="lastname">
        </div>

        <div class="form-group">
            <button type="submit">Submit</button>
        </div>

    </form>

</div>





