<form [formGroup]="empForm" (ngSubmit)="onSubmit()">

  <div formArrayName="employees" *ngFor="let employee of employees().controls; let empIndex=index">

    <div [formGroupName]="empIndex" style="border: 1px solid blue; padding: 10px; width: 600px; margin: 5px;">
      {{empIndex}}
      First Name :
      <input type="text" formControlName="firstName">
      Last Name:
      <input type="text" formControlName="lastName">

      <button (click)="removeEmployee(empIndex)">Remove</button>


      <div formArrayName="skills">

        <div *ngFor="let skill of employeeSkills(empIndex).controls; let skillIndex=index">
          


          <div [formGroupName]="skillIndex">
            {{skillIndex}}
            Skill :
            <input type="text" formControlName="skill">
            Exp:
            <input type="text" formControlName="exp">

            <button (click)="removeEmployeeSkill(empIndex,skillIndex)">Remove</button>

          </div> 

        </div>
        <button type="button" (click)="addEmployeeSkill(empIndex)">Add Skill</button>
      </div>


    </div>
  </div>

  <p>
    <button type="submit">Submit</button>
  </p>

</form>


<p>
  <button type="button" (click)="addEmployee()">Add Employee</button>
</p>

{{this.appForm.value | json}}