<form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">

  <p>
    <label for="firstname">First Name </label>
    <input type="text" id="firstname" name="firstname" [(ngModel)]="contact.firstname">
  </p>

  <p>
    <label for="lastname">Last Name </label>
    <input type="text" id="lastname" name="lastname" [(ngModel)]="contact.lastname">
  </p>

  <p>
    <label for="email">Email </label>
    <input type="text" id="email" name="email"  [(ngModel)]="contact.email">
  </p>

  <p>
    <label for="gender">Geneder </label>
    <input type="radio" value="male" id="gender" name="gender" [(ngModel)]="contact.gender"> Male
    <input type="radio" value="female" id="gender" name="gender" [(ngModel)]="contact.gender"> Female

  </p>

  <p>
    <label for="isMarried">Married </label>
    <input type="checkbox" id="isMarried" name="isMarried" [(ngModel)]="contact.isMarried">
  </p>

  <p>
    <label for="country">country </label>
    <select id="country" name="country" [(ngModel)]="contact.country">
      <option [ngValue]="c.id" *ngFor="let c of countryList">
        {{c.name}}
      </option>
    </select>
  </p>

  <div ngModelGroup="address">

    <p>
      <label for="city">City</label>
      <input type="text" id="city" name="city" [(ngModel)]="contact.address.city">
    </p>

    <p>
      <label for="street">Street</label>
      <input type="text" id="street" name="street" [(ngModel)]="contact.address.street"> 
    </p>

    <p>
      <label for="pincode">Pin Code</label>
      <input type="text" id="pincode" name="pincode"  [(ngModel)]="contact.address.pincode">
    </p>

  </div>

  <p>
    <button type="submit">Submit</button>
  </p>

  <p>
    <button type="button" (click)="changeCountry()">Change Country</button>
    <button type="button" (click)="setDefaults()">Set Defaults</button>
    <button type="button" (click)="reset(contactForm)">Reset</button>
  </p>

  <b>valid</b> {{contactForm.valid}} 
  <b>touched</b> {{contactForm.touched}} 
  <b>pristine</b> {{contactForm.pristine}} 
  <b>dirty</b> {{contactForm.dirty}} 

</form>



<!-- 

<form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">

  <p>
    <label for="firstname">First Name </label>
    <input type="text" id="firstname" name="firstname" ngModel>
  </p>

  <p>
    <label for="lastname">Last Name </label>
    <input type="text" id="lastname" name="lastname" ngModel>
  </p>

  <p>
    <label for="email">Email </label>
    <input type="text" id="email" name="email"  ngModel>
  </p>

  <p>
    <label for="gender">Geneder </label>
    <input type="radio" value="male" id="gender" name="gender" ngModel> Male
    <input type="radio" value="female" id="gender" name="gender" ngModel> Female
  </p>

  <p>
    <label for="isMarried">Married </label>
    <input type="checkbox" id="isMarried" name="isMarried" ngModel>
  </p>

  <p>
    <label for="country">country </label>

    <select id="country" name="country" ngModel>
      <option [ngValue]="c.id" *ngFor="let c of countryList">
        {{c.name}}
      </option>
    </select>

  </p>

  <div ngModelGroup="address">

    <p>
      <label for="city">City</label>
      <input type="text" id="city" name="city" ngModel>
    </p>

    <p>
      <label for="street">Street</label>
      <input type="text" id="street" name="street" ngModel>
    </p>
    <p>
      <label for="pincode">Pin Code</label>
      <input type="text" id="pincode" name="pincode"  ngModel>
    </p>

  </div>

  <p>
    <button type="submit">Submit</button>
  </p>

  <p>
    <button type="button" (click)="changeCountry()">Change Country</button>
    <button type="button" (click)="setDefaults()">Set Defaults</button>
    <button type="button" (click)="patchValue()">Patch Value</button>
    <button type="button" (click)="changeAddress()">Change Address</button>
    <button type="button" (click)="reset()">Reset</button>
    <button type="button" (click)="resetForm()">Reset Form</button>
  </p>

  <b>valid</b> {{contactForm.valid}} 
  <b>touched</b> {{contactForm.touched}} 
  <b>pristine</b> {{contactForm.pristine}} 
  <b>dirty</b> {{contactForm.dirty}} 

</form>
 -->

